@font-face {
  font-family: 'iconfont';  /* project id 379591 */
  src: url('//at.alicdn.com/t/font_379591_b6eln3l7ggrmgqfr.eot');
  src: url('//at.alicdn.com/t/font_379591_b6eln3l7ggrmgqfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_379591_b6eln3l7ggrmgqfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_379591_b6eln3l7ggrmgqfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_379591_b6eln3l7ggrmgqfr.svg#iconfont') format('svg');
}
.iconfont{
	font-family:"iconfont";
	font-size:1.7rem;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	color:#fff;
}